<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Mini-jeux</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="accueil" mdbWavesEffect>Accueil</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="chiffreMemoire" mdbWavesEffect>Chiffre memoire</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="grilleMemoire" mdbWavesEffect>Grille memoire</a>
      </li>

    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
